.grey-wrapper {
  background-color: $darkgrey;
  width: 90%;
  display: block;
  margin: 1.5rem auto;
  border-radius: 10px;
}

//COIN INFO
.coin-info {
  padding: 1rem;
  cursor: pointer;
}

.coin-info-desc {
  p {
    &:hover {
      color: lighten($color: $grey, $amount: 10) !important;
    }
  }
  a {
    text-decoration: underline !important;
    transition: all 0.3s ease;

    &:hover {
      color: $blue !important;
    }
  }
}

.options {
  margin: 0.5rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  .dropDown {
    select {
      padding: 0.5rem;
      border-radius: 5px;
      background-color: $darkgrey;
      border: none;
      color: $white;
      cursor: pointer;

      &:hover {
        background-color: darken($color: $grey, $amount: 10);
      }
    }
  }

  .priceType {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    button {
      padding: 0.5rem;
      border-radius: 5px;
      background-color: $darkgrey;
      border: none;
      color: $white;
      cursor: pointer;

      &:hover {
        background-color: darken($color: $grey, $amount: 10);
      }
    }
  }
}
