.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-between;
  background-color: $black;
  color: $white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.companyName {
  @media (min-width: 1000px) {
    position: relative;
  }

  font-size: 25px;
  cursor: pointer;
}

.nav {
  position: fixed;
  z-index: 100;
  top: 59px; // Adjust this value as needed
  right: -100%;
  width: 40%;
  height: calc(100% - 50px); // Adjust this value as needed
  background-color: $black;
  display: flex;
  flex-direction: column;
  -webkit-transition: right 0.5s ease; // Add transition for smooth animation
  transition: right 0.5s ease;

  @media (min-width: 1000px) {
    background-color: transparent;
    flex-direction: row;
    position: relative;
    right: 10px;
    top: auto;
    height: auto;
  }

  &.open {
    right: 0; // Show the menu by setting right to 0
  }
}

.nav a {
  color: $grey !important;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 10px;
  -moz-osx-font-smoothing: grayscale; // Add vendor prefix for Firefox

  @media (min-width: 1000px) {
    margin-bottom: 0;
  }

  &:hover {
    color: $white !important;
  }
}

.menuIcon {
  position: relative;
  font-size: 25px;
  cursor: pointer;

  @media (min-width: 1000px) {
    display: none;
  }
}
