.unique-list-row {
  width: 90%;
  padding: 1rem 1rem !important;
  margin-bottom: 0.5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
  cursor: pointer;
}

.unique-list-row:hover {
  background-color: $darkgrey;
  transition: all 0.3s;
}

.unique-list-row td {
  width: 20%;
  text-align: left;
}

.unique-td-img {
  width: 3rem !important;
  margin-right: 1rem;
}

.unique-td-info {
  width: 10rem !important;
}

.unique-td-current-price {
  width: 5rem !important;
  margin-left: 10px;
  text-align: right !important;
}

.unique-td-totalVolume,
.unique-td-marketCap {
  text-align: right !important;
  color: $white;
}

.unique-mobile {
  display: none;
}

.unique-info-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.unique-td-price {
  border: none;
}

.unique-chip-icon {
  border: none;
  background-color: transparent;
}

.unique-chip-flex {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.red-list {
  color: $red;
  border: 2px solid $red;
  border-radius: 25px;
  padding: 7px 10px;

  @media (max-width: 768px) {
    border-radius: 20px;
    padding: 3px 4px;
  }

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.green-list {
  color: $green;
  border: 2px solid $green;
  border-radius: 25px;
  padding: 7px 10px;

  @media (max-width: 768px) {
    border-radius: 20px;
    padding: 3px 4px;
  }

  &:hover {
    background-color: $green;
    color: $white;
  }
}

.star-list {
  cursor: pointer;
  margin-right: 10px;

  @media (max-width: 768px) {
    display: none;
  
  }
}

@media only screen and (max-width: 900px) {
  .unique-td-chip-icon {
    display: none;
  }

  .unique-list-row td {
    font-size: 0.7rem;
  }

  .unique-td-totalVolume {
    display: none;
  }

  .unique-td-current-price {
    text-align: center !important;
  }

  .unique-list-row {
    width: 100%;
    padding: 1.5rem 0rem;
  }

  .unique-coin-image-td {
    height: 2rem;
    width: 2rem;
  }

  .unique-td-info {
    width: 6rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .unique-td-marketCap,
  .unique-td-chip-icon {
    display: none !important;
  }
  .unique-mobile {
    display: block !important;
    text-align: left !important;
  }
  .unique-list-row td,
  .unique-td-p {
    font-size: 0.6rem !important;
  }

  .unique-td-info {
    width: 4rem !important;
  }

  .unique-coin-image-td {
    height: 2rem !important;
    width: 2rem !important;
  }
}
