.paginate {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page {
  padding: 10px;
  margin: 7px;
  border: 2px solid $grey;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($color: $blue, $amount: 5);
  }
}

.active {
  background-color: lighten($color: $blue, $amount: 5);
}

.pagebutton {
  color: darken($color: $blue, $amount: 30);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($color: $blue, $amount: 5);
  }
}
