.top-btn {
  position: fixed;
  display: none;
  right: 40px;

  @media (max-width: 768px) {
    right: 0;
    width: 40px;
    height: 40px;
 
  }
  bottom: 120px; /* adjust this value as needed */
  width: 50px;
  height: 50px;
  border: 2px solid $blue;
  padding: 10px;
  cursor: pointer;
  z-index: 99;
  border-radius: 50%;

  &:hover {
    background-color: lighten($color: $darkgrey, $amount: 5);
  }
}

.top {
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
